body {
  display: flex;
  flex-direction: column;
  background-color: #f3f5f7;
}

.contenedor {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  background-color: #f3f5f7;
  border-radius: 10px;
}

.badge {
  width: 6.2rem;
  text-align: center;
  display: inline-block;
}
